@mixin centered {
  position: absolute;
  top: 50%;
  transform: translate3d(0,-50%,0);
}

catalogue-editor {
  md-content {
    height: 100%;
    background: none!important;
    color: white!important;
  }

  & > md-content {
    padding: 0 2rem;
  }

  md-toolbar {
    .search {
      margin: 0 15%;
      padding: 0 1.75rem;
      width: 50.5rem;
      height: 5rem;
      border-radius: 2rem;
      position: relative;
      overflow: hidden;
      background: lightgray;

      input {
        width: 100%;
        border: none;
        outline: none;
        border-radius: 2rem;
        background: none;
        font-size: 2rem;
      }
      .md-button {
        @include centered;
        background: lightgray;
        min-width: 2rem;
        min-height: 2rem;
        margin: 0;
        right: 1rem;
      }
    }
  }

  .editing-enabled {
    md-list-item:not(.editable) {
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}