@import '../../node_modules/angular-material/angular-material';

@mixin centered {
    top: 50%;
    left: 50%;

    transform: translate3d(-50%,-50%,0);
}

$main-border-color: rgba(255,255,255,0.5);
$main-border: 1px solid $main-border-color;
$md-hue-border: 1px solid rgb(255,167,38)!important;
$main-cyan-color: #0046ed !important;

body {
    color: #fff;
    background: url("../media/images/bg.png") center no-repeat, #000;
    background-size: contain;
}

ui-view {
    min-width: 100%;

    & > * {
        min-width: 100%;
    }
}

.spinner {
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;

    cursor: progress;
    pointer-events: none;

    @include centered;
}

md-progress-circular {
    @include centered;
}

.md-button.nav-btn {
    min-width: 5rem;
    min-height: 5rem;

    border-radius: 1.35rem;
    background: $main-cyan-color;
}

md-toolbar {
    min-height: 8rem;
    padding: 0 2rem;

    color: #ffffff !important;
    border-bottom: $md-hue-border;
    background-color: transparent !important;

    .md-button.nav-btn {
       @extend .md-button.nav-btn;
    }
}

md-divider {
    border-top-color: $main-border-color;
}

md-list-item {
    padding: 0 2rem;

    .is-forced {
        h4,
        p {
            color: #ffa726;
        }

        .actions .md-button img {
            filter: drop-shadow(3px 3px 1px #ffa726);
        }
    }
}

.song-info {
    h4 {
        margin: 0.5rem 0;
        font-size: 2rem;
    }
    p {
        margin: 0;
        font-size: 1.5rem;
    }

    md-checkbox {
        width: 2rem;
        height: 2rem;
        margin: 0;

        .md-container,
        .md-icon {
            width: 2rem;
            height: 2rem;
        }

        .md-icon::after {
            top: 0.2rem;
            left: 0.55rem;

            width: 0.6rem;
            height: 1.2rem;
        }
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body,
    html {
        font-size: 10px;

        .logo {
            width: 280px;
        }

        ordered-play-list {
            .ordered-tables .md-button {
                min-width: 4rem;
                height: 4rem;
                min-height: 4rem;
                padding: 0 0.15rem !important;

                font-size: 1.5rem !important;
            }
        }

        ordered-song-list {
            md-tabs[md-align-tabs="bottom"] md-tabs-wrapper {
                height: 8rem;
            }
        }
    }
}

.fade-in {
    will-change: opacity;

    &.ng-enter,
    &.ng-leave {
        transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
    }

    &.ng-enter,
    &.ng-leave.ng-leave-active {
        opacity:0;
    }

    &.ng-leave,
    &.ng-enter.ng-enter-active {
        opacity:1;
    }
}