md-content(layout="column" layout-fill)
    md-toolbar(layout="row" layout-align="space-between center")
        img.logo(ng-src='{{$ctrl.logo}}')
    md-content(layout="row")
        md-virtual-repeat-container(flex).songs-container
            md-list-item(md-virtual-repeat="song in $ctrl.songsQueueList")
                .song-info(ng-class="{'is-played': song.isPlayed, 'is-forced': song.isForcedQueue}" layout="row", layout-align="space-between center", layout-padding, flex)
                    .md-list-item-text(layout="column", flex="70")
                        h4(ng-bind="song.songTitle")
                    .reservation-info(layout="row" layout-align="space-between center")
                        p(ng-bind="song.reservationName")
                        p(ng-bind="song.lapIndex")
                    md-checkbox(ng-model="song.isPlayed", ng-change="$ctrl.updateSongStatus(song)").md-primary
    md-toolbar.ordered-tables(layout="row" layout-align="start center")
        md-button(ng-repeat="table in $ctrl.tablesWhoReserve track by table.id",
                  ng-click="$ctrl.toggleTableState(table)",
                  ng-bind="table.name", ng-class="{'active': table.isActive}")