$main-border-color: rgba(255,255,255,0.5);
$main-border: 1px solid $main-border-color;
$md-hue-border: 1px solid rgb(255,167,38)!important;
$main-cyan-color: #0046ed !important;

songs-queue {
  md-toolbar:first-of-type {
    padding-bottom: 2rem;
  }
  md-content {
    height: 100%;
    background: none!important;
    color: white!important;
  }

  & > md-content {
    padding: 0 2rem;
  }

  .songs-container {
    margin: 2rem 0;

    .is-played {
      opacity: 0.75;
       h4, p {
          text-decoration: line-through;
      }
    }

    .reservation-info p{
      margin: auto 2rem;
    }
  }
  .ordered-tables {
    border-top: $md-hue-border;
    border-bottom: none!important;

    .md-button {
      border: $main-border;
      font-size: 1.5rem!important;
      padding: 1rem 2.5rem !important;
      margin-right: 1rem;
      min-width: auto;

      &.active {
        border-color: transparent;
        background: $main-cyan-color;
        color: black;
      }
    }
  }
}