md-content(layout="column" layout-fill)
    md-toolbar(layout="row" layout-align="space-between center")
        .logo
            img(ng-src='{{$ctrl.logo}}')
    ui-view
        nav.queue-nav(layout="row" layout-align="space-between center")
            md-button(ui-sref='.history', ui-sref-active) Show history
            md-button(ui-sref="catalogue-editor", ui-sref-active) Open Editor
        md-content(layout="row")
            md-virtual-repeat-container(flex).songs-container
                md-list-item(md-virtual-repeat="song in $ctrl.songsQueueList")
                    .song-info(ng-class="{'is-played': song.isPlayed, 'is-forced': song.isForcedQueue}" layout="row", layout-align="space-between center", layout-padding, flex)
                        .md-list-item-text(layout="column", flex="70")
                            h4(ng-bind="song.songTitle")
                        .reservation-info(layout="row" layout-align="space-between center")
                            p(ng-bind="song.reservationName")
                            p(ng-bind="song.lapIndex")
                        md-checkbox(ng-model="song.isPlayed", ng-change="$ctrl.updateSongStatus(song)").md-primary
        md-toolbar.ordered-tables(layout="row" layout-align="start center")
            md-button(ng-click="$ctrl.toggleTableState(table)", ng-repeat="table in $ctrl.tablesWhoReserve track by table.id", ng-class="{'active': table.isActive, 'is-lap':table.isActive && table.songsPerLap > 1}")
                a(ng-if="table.isActive && table.songsPerLap > 0", ng-click="$ctrl.changeLap($event, table)") X
                span(ng-bind="table.name")