@mixin centered {
  position: absolute;
  top: 50%;
  transform: translate3d(0,-50%,0);
}

songs-catalogue {
  .alphabet {
    margin: 0 12%;

    p {
      margin: 15px 1px;

      .letter {
        cursor: pointer;
      }
    }
  }
}