md-content(layout="column" layout-fill)
    md-toolbar(layout="row" layout-align="space-between center")
        .logo
            img(ng-src='{{$ctrl.logo}}')
        md-button(ui-sref="songs-list.catalogue" ng-if="$ctrl.isActive('songs-list.search')") Open Songs Catalogue
        md-button(ui-sref="songs-list.search" ng-if="$ctrl.isActive('songs-list.catalogue')") Go Back to Search
    ui-view