@import '../../node_modules/angular-material/angular-material';

@mixin centered {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

$main-border-color: rgba(255,255,255,0.5);
$main-border: 1px solid $main-border-color;
$md-hue-border: 1px solid rgb(255,167,38)!important;
$main-cyan-color: #37d3fe !important;

body {
  background-color: #000000;
  color: #ffffff;
}

ui-view {
  min-width: 100%;

   & > * {
     min-width: 100%;
   }
}

.spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  cursor: progress;
  z-index: 2;
  @include centered;
}

md-progress-circular {
  @include centered;
}

md-toolbar {
  height: 10rem;
  padding: 0 2rem;
  background-color: transparent !important;
  border-bottom: $md-hue-border;
  color: #ffffff !important;

  .md-button.nav-btn{
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 1.35rem;
    background: $main-cyan-color;
  }
}

md-divider {
  border-top-color: $main-border-color;
}

md-list-item {
  padding: 0 2rem;
}

.song-info {
  h4, p {
    font-size: 2rem;
  }

  md-checkbox {
    width: 2rem;
    height: 2rem;
    margin: 0;

    .md-container, .md-icon {
      width: 2rem;
      height: 2rem;
    }

    .md-icon::after {
      width: 0.6rem;
      height: 1.2rem;
      top: 0.2rem;
      left: 0.55rem;
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  html, body {
    font-size: 10px;

    .logo {
      width: 280px;
    }

    ordered-play-list {
      .ordered-tables .md-button {
        font-size: 1.5rem !important;
        padding: 0 0.15rem !important;
        min-width: 4rem;
        min-height: 4rem;
        height: 4rem;
      }
    }

    ordered-song-list {
      md-tabs[md-align-tabs="bottom"] md-tabs-wrapper{
        height: 8rem;
      }
    }
  }
}